.App {
  text-align: center;
}
.logo {
  max-height: 50px;
  padding-bottom: 8px;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.nav-link {
  color: #232df6;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  width: 20%;
  margin: 10px;
}

