.navbar {
    display:flex;
    justify-content: space-between;
    
}




.login:hover {
    background-color: #f2f2f2;
    color: black;
    border-radius: 15px
}

.signup:hover {
    background-color: #f2f2f2;
    color: black;
    border-radius: 15px;
}
img {
    padding: 10px;
    max-width: 10em;
    max-height: 10em;


}



