.login-page {
  background-color: #22577e;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(213, 213, 221, 0.58);
  max-width: 500px;
  margin: 50px auto;
  text-align: center;
}

h4 {
  color: #f6f2d4;
  margin-bottom: 40px;
}

div.container {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 0;
  padding-right: 0;
}

form#login {
  margin: 0 auto;
  width: 500px;
}

.username-login {
  font-size: 18px;
  margin-bottom: 15px;
}

.password-login {
  font-size: 18px;
}

input {
  width: 70%;
  border: 2px solid rgb(184, 174, 174);
}

button.btn.btn-outline-primary {
  font-size: 18px;
  color: #f6f2d4;
  background-color: #22577e;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 2px solid rgb(184, 174, 174);
  height: 50%;
  width: 50%;
}

button.btn.btn-outline-primary:hover {
  font-weight: bolder;
  background-color: #28648f;
}

p {
  color: #f6f2d4;
}
