@use 'variables' as *;

.navbar {
    display:flex;
    justify-content: space-between;
    
}

.logo {
    padding: 10px;
    width: 300px;
}

.navlinks {
        padding-right: 20px;
    .navlink {
        font-size: 1.5rem;
        color: $primary;
        text-decoration: none;
        padding: 10px;
        &:hover {
            background: $primary;
            color: white;
        }
    }
}
